# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - main
      - docker-publish-oci
    paths:
      - "VERSION"

permissions:
  contents: read

jobs:
  # CAUTION: Other actions depend on this name "tag-github"
  tag-github:
    # uses: onosproject/.github/.github/workflows/tag-github.yml@main
    uses: ./.github/workflows/tag-github.yml
    secrets: inherit

  release-image:
    needs: tag-github
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/release-image.yml@main
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
      docker_repository: andybavier/
    secrets: inherit

  update-version:
    needs: tag-github
    if: needs.tag-github.outputs.changed == 'true'
    uses: onosproject/.github/.github/workflows/bump-version.yml@main
    secrets: inherit
    with:
      version: ${{ needs.tag-github.outputs.version }}
